<div class="card">
    <div class="card-header">
        Experiments
    </div>
    <div class="card-body">
        <ul class="list-group">
            <% current_user.experiments.each do |experiment| %>
                <li class="list-group-item d-flex justify-content-between align-items-center" data-experiment-id="<%= experiment.id %>" data-experiment-name="<%= experiment.title %>">
                    <div class="w-25">
                        <a href="/experiment/<%= experiment.id %>"><%= experiment.title %></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <% tools = experiment.load_tools %>
                        <% statuses = tools.values.each_with_object(Hash.new(0)) { |h1, h2| h2[h1[:status]] += 1 } %>
                        <span class="badge bg-secondary me-2"><%= tools.size %> tools</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <% if statuses["finished"] != 0 %>
                            <span class="badge bg-success me-2"><%= statuses["finished"] %> finished</span>
                        <% end %>
                        <% if statuses["created"] != 0 %>
                            <span class="badge bg-secondary me-2"><%= statuses["created"] %> created</span>
                        <% end %>
                        <% if statuses["configured"] != 0 %>
                            <span class="badge bg-secondary me-2"><%= statuses["configured"] %> configured</span>
                        <% end %>
                        <% if statuses["running"] != 0 %>
                            <span class="badge bg-primary"><%= statuses["running"] %> running</span>
                        <% end %>
                    </div>
                    <button type="button"
                            class="btn btn-danger px-2 d-flex align-items-center justify-content-between"
                            data-action="click->experiments#deleteExperiment">
                        <i class="me-2 fas fa-trash"></i>Delete
                    </button>
                </li>
            <% end %>
        </ul>
    </div>
</div>