<% if nb_pages > 1 %>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item<%= " disabled" if current_page == 1 %>" data-action="click->dataset#previous_page">
                <a class="page-link" href="#">«</a>
            </li>
            <% if (nb_pages > 10) %>
                <% (1..nb_pages).each do |i| %>
                    <% if (i >= current_page-2 and i <= current_page+2) or (i <= 1) or (i>= nb_pages) %>
                        <li class="page-item<%= " active" if current_page == i %>" data-action="click->dataset#page_button">
                            <a class="page-link" href="#"><%= i %></a>
                        </li>
                    <% elsif (i == 2 and current_page >= 5) or (i == nb_pages-1 and current_page <= nb_pages-4) %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                    <% end %>
                <% end %>
            <% else %>
                <% (1..nb_pages).each do |i| %>
                    <li class="page-item<%= " active" if current_page == i %>" data-action="click->dataset#page_button">
                        <a class="page-link" href="#"><%= i %></a>
                    </li>
                <% end %>
            <% end %>
            <li class="page-item<%= " disabled" if current_page == nb_pages %>" data-action="click->dataset#next_page">
                <a class="page-link" href="#">»</a>
            </li>
        </ul>
    </nav>
<% end %>