<div class="modal fade" id="publicDatasetsModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Public datasets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Dataset name</th>
                        <th scope="col">Dataset content</th>
                        <th scope="col">User name</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% Dataset.where(public: true).each_with_index do |d, idx| %>
                        <% if d.user_id != current_user.id %>
                            <tr>
                                <th scope="row"><%= idx+1 %></th>
                                <td><%= d.title %></td>
                                <td>
                                    <span class="badge bg-primary rounded-pill"><%= d.nb_issues %> issues</span>
                                    <span class="badge bg-primary rounded-pill"><%= d.nb_articles %> articles</span>
                                    <span class="badge bg-primary rounded-pill"><%= d.nb_compound_articles %> compound articles</span>
                                </td>
                                <td>
                                    <% user = User.find(d.user_id) %>
                                    <%= user.email[0...user.email.index('@')] %>
                                </td>
                                <td>
                                    <button data-dataset-id="<%= d.id %>" class="import_public_dataset btn btn-sm btn-outline-secondary"
                                            data-bs-target="#confirmPublicDatasetImportModal" data-bs-toggle="modal" data-bs-dismiss="modal"
                                            data-bs-title="<%= d.title %>" data-bs-user="<%= user.email[0...user.email.index('@')] %>" data-bs-dataset-id="<%= d.id %>">
                                        Import to your datasets
                                    </button>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmPublicDatasetImportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import a public datasets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>You are about to import dataset "<span id="original-dataset-title"></span>" from user "<span id="original-dataset-user"></span>".</p>
                <label for="dataset-title" class="form-label">Give a name to your new dataset:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Dataset title</span>
                    <input type="text" class="form-control" id="import-dataset-title" autocomplete="off">
                </div>
                <div id="dataset-id" class="d-none"></div>
                <span id="import-log"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="import-dataset-button" type="button" class="btn btn-primary" data-action="click->datasets#importDataset">Import</button>
            </div>
        </div>
    </div>
</div>