<div class="offcanvas-header">
    <h5 class="offcanvas-title"><%= t("newspapers.tools.type.#{tool.tool_type}") %></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <% tool.parameters.each do |param| %>
        <label class="form-label"><%= param['description'] %></label>
        <div class="tool-param input-group mb-3">
            <% case param['type'] %>
            <% when "string" %>
                <span title="<%= param['description'] %>" class="input-group-text"><%= param['name'] %></span>
                <input class="form-control" type="text" placeholder="<%= param['default'] %>"
                       data-param="<%= param['name'] %>" value="<%= param['value'].nil? ? param['default'] : param['value'] %>"/>
            <% when "float" %>
                <span title="<%= param['description'] %>" class="input-group-text"><%= param['name'] %></span>
                <input class="form-control" type="number" min="0" max="1" step="0.01"
                       data-param="<%= param['name'] %>" value="<%= param['value'].nil? ? param['default'] : param['value'] %>"/>
            <% when "boolean" %>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" data-param="<%= param['name'] %>" <%= param['default'] ? "checked" : "" %>>
                    <label class="form-check-label" for="flexSwitchCheckDefault"><%= params['description'] %></label>
                </div>
            <% when "integer" %>
                <span title="<%= param['description'] %>" class="input-group-text"><%= param['name'] %></span>
                <input class="form-control" type="number" min="1" max="999"
                       data-param="<%= param['name'] %>" value="<%= param['value'].nil? ? param['default'] : param['value'] %>"/>
            <% when "select" %>
                <span title="<%= param['description'] %>" class="input-group-text"><%= param['name'] %></span>
                <select class="form-select" data-param="<%= param['name'] %>">
                    <% if param['values'].empty? %>
                        <option <%= param['value'].nil? ? "selected" : "" %> disabled>Select a source dataset</option>
                        <% current_user.datasets.each do |dataset| %>
                            <option <%= param['value'].to_i != dataset.id ? "" : "selected" %> value="<%= dataset.id %>"><%= dataset.title %></option>
                        <% end %>
                    <% else %>
                        <option <%= param['value'].nil? ? "selected" : "" %> disabled>Select a value</option>
                        <% param['values'].each do |val| %>
                            <option <%= param['value'] == val ? "selected" : "" %> value="<%= val %>"><%= val %></option>
                        <% end %>
                    <% end %>
                </select>
            <% end %>
        </div>
    <% end %>
    <button type="button" class="btn btn-success" data-action="click->experiment#apply_tool_config">Apply</button>
    <span id="params_message"></span>
</div>