<% nb_pages = (total/per_page.to_f).ceil %>
<nav>
    <ul class="pagination justify-content-center mb-0">
        <% if current_page == 1 %>
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
        <% else %>
            <li class="page-item">
                <a class="page-link" href="<%= url_for current_page_params.merge({page: current_page-1}) %>">&laquo;</a>
            </li>
        <% end %>
        <% if nb_pages > 10 %>
            <% (1..nb_pages).to_a.each do |i| %>
                <% if (i >= current_page-2 and i <= current_page+2) or i <= 1 or i >= nb_pages %>
                    <li class="page-item<%= (i == current_page) ? " active" : "" %>">
                        <a class="page-link" href="<%= url_for current_page_params.merge({page: i}) %>"><%= i %></a>
                    </li>
                <% elsif (i == 2 and current_page >= 5) or (i == nb_pages-1 and current_page <= nb_pages-4) %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                    </li>
                <% end %>
            <% end %>
        <% else %>
            <% (1..nb_pages).to_a.each do |i| %>
                <li class="page-item<%= (i == current_page) ? " active" : "" %>">
                    <a class="page-link" href="<%= url_for current_page_params.merge({page: i}) %>"><%= i %></a>
                </li>
            <% end %>
        <% end %>
        <% if current_page == nb_pages %>
            <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        <% else %>
            <li class="page-item">
                <a class="page-link" href="<%= url_for current_page_params.merge({page: current_page+1}) %>">&raquo;</a>
            </li>
        <% end %>
    </ul>
</nav>