<% unless search_constraints.empty? %>
    <div class="card mb-2">
            <div class="card-body">
                Filters:
                <% search_constraints.each do |constraint| %>
                    <% field = t('newspapers.solr_fields').find { |key,value| value == constraint[:label] }[0].to_s %>
                    <% next if field == "doc_type" %>
                    <span class="btn-group">
                        <button class="btn btn-sm btn-outline-primary" disabled>
                            <span class="filter_name">
                                <%= t("newspapers.human_readable_solr_fields." + field) %>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                            <span class="filter_value">
                                <% case field %>
                                <% when 'language' %>
                                    <%= t("newspapers.languages." + constraint[:value]) %>
                                <% when 'doc_type' %>
                                    <%= t("newspapers.doc_types." + constraint[:value]) %>
                                <% when 'newspaper' %>
                                    <%= t("newspapers.titles." + constraint[:value]) %>
                                <% when 'month' %>
                                    <%= t("newspapers.month." + constraint[:value]) %>
                                <% when 'day' %>
                                    <%= t("newspapers.day." + constraint[:value]) %>
                                <% when 'persons', 'locations', 'organisations', 'human_productions' %>
                                    <%= get_entity_label constraint[:value] %>
                                <% when 'date' %>
                                    <%= constraint[:value] %>
                                <% else %>
                                    <%= "" %>
                                <% end %>
                            </span>
                        </button>
                        <% new_params = Marshal.load(Marshal.dump(current_page_params)) %>
                        <% puts new_params %>
                        <% if field == "date" %>
                            <% new_params[:f].delete(constraint[:label].to_sym) %>
                        <% else %>
                            <% new_params[:f][constraint[:label].to_sym].delete(constraint[:value]) %>
                        <% end %>
                        <a class="btn btn-sm btn-outline-primary" href="<%= url_for new_params %>">
                            <i class="fas fa-times"></i>
                        </a>
                    </span>
                <% end %>
            </div>
    </div>
<% end %>