<% set_page_title "Show" %>

<div class="row">
    <div id="sidebar" class="col-3">
        <%= render partial: 'metadata' %>
    </div>
    <div class="col-6">
        <div data-controller="viewer"
             data-viewer-nbpages-value="<%= @issue.nb_pages %>"
             data-viewer-pages-value="<%= @issue.pages.map{|p| "#{p.iiif_url}/info.json" }.to_json %>"
             data-viewer-articles-value="<%= @articles.to_json %>"
             data-viewer-current-page-value="1">
            <div id="page_counter"><span data-viewer-target="currentPage"></span> out of <%= @issue.nb_pages %></div>
            <div id="openseadragon_view"></div>
        </div>
    </div>
    <div class="col-3">
    </div>
</div>