<!DOCTYPE html>
<html>
<head>
    <title><%= yield :page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div id="navigation" class="px-3 mb-2 border-bottom border-2 bg-light">
        <%= render partial: "shared/navigation" %>
    </div>

    <div id="main-content" class="container-fluid">
        <% if notice %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= notice %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>
        <% if alert %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= alert %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>

        <%= yield %>
    </div>

    <div id="notifications" class="toast-container position-absolute bottom-0 end-0 p-3"></div>
</body>
</html>
